body {
  margin: 0;
  background: #242424;
  color: #bdc6cf
}

.toolbar {
  background-color: #333333;
  border-bottom: 1px solid #525252;
  height: 26px;
  align-items: center;
  display: flex;
}

.toolbar-divider {
  background-color: #ccc;
  width: 1px;
  margin: 5px 4px;
  height: 16px;
}

.toolbar-button {
  white-space: nowrap;
  overflow: hidden;
  min-width: 28px;
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande",
    sans-serif;
  border-radius: 0;
  outline: none;
  border: none;
  opacity: 0.8;
  background: transparent;
}

.toolbar-shadow {
  position: relative;
  white-space: nowrap;
  height: 26px;
  overflow: hidden;
  z-index: 12;
  display: flex;
  flex: none;
  align-items: center;
}

select.toolbar-item {
  min-width: 38px;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0 13px 0 5px;
  margin-right: -10px;
  position: relative;
  height: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
}

input {
  background-color: #242424;
  border: none;
  width: 163px;
  height: 20px;
  box-sizing: border-box;
  padding: 2px;

}

input:focus {
  outline: none;
  box-shadow: 0 0 0 1px #0e639c;
}

.toolbar-item {
  padding: 0 5px 0 2px;
}

.CodeMirror {
  /* border: 1px solid #eee; */
  height: auto;
  font-size: 12px;
}

.CodeMirror-focused .CodeMirror-selected {
  background-color: #cfe8fc;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.event-row {
  padding: 4px;
  font-size: 14px;
  color: white;
  font-family: ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande",
    sans-serif;
  cursor: pointer;
  height: 24px;
  box-sizing: border-box;
}

.event-row:nth-child(2n-1) {
  background: #292929;
}

.event-row:nth-child(2n) {
  background: #242424;
}

.event-row:hover {
  background: #192538;
}

.event-row.selected {
  color: white;
  background: #19639C;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
}

.Resizer.disabled {
  cursor: not-allowed;
}

.Resizer.disabled:hover {
  border-color: transparent;
}